<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> xcs</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to ssssss <%= title %></p>
  </body>
</html>
