<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><XXXXXXXXXXXXXXXXX></h1>
      <% let mostrar = true %>
      <% if(mostrar) { %>
         <p>Mostrar t = <%= mostrar %> </p>
         <% } else { %>
          <p>Mostrar f = <%= mostrar %> </p>
         <% } %>
  </body>
</html>
